<div class="flex-index">
    <h1 class="h1-body-title"><%= @family_member.first_name %> <%= @family_member.last_name %></h1>
</div>
<div class="tile-container">
    <div class="tile">
        <% @plans.each do |plan| %>
            <h3><%= plan.company %></h3>
            <h4><%= plan.kind_of_plan %></h4>
            <a class="plan-button" href="/plan/<%= plan.id %>">View Plan</a><br />
            <a href="/family_member/<%= @family_member.id %>/edit"> Edit </a> <a href="/family_member/<%= @family_member.id %>/delete"> Delete </a>
        <% end %>
    </div>
</div>