<div class="flex-index">
    <h1 class="h1-body"><%= @family_member.first_name %> <%= @family_member.last_name %></h1>
    <a href="/family_members/<%= @family_member.id %>/edit"> Edit Family Member</a> <a href="/family_members/<%= @family_member.id %>/delete"> Delete Family Member</a>
</div>
<div class="tile-container">
    <% @plans.each do |plan| %>
        <div class="tile">    
            <h3><%= plan.company %></h3>
            <h4><%= plan.kind_of_plan %></h4>
            <a class="plan-button" href="/plans/<%= plan.id %>">View Plan</a><br />
            
        </div> 
    <% end %>
</div>