<div class="hero-body">
    <div class="container is-fluid">
        <div class="columns is-multiline">
            <% @family_members.each do |member| %>
                <div class="column is-3">
                    <div class="card">
                        <div class="card-content">
                            <p class="title has-text-centered is-capitalized">
                                <%= member.first_name %> <%= member.last_name %>
                            </p>
                            <p class="subtitle has-text-centered">
                                <%= member.plans.count %> Plans
                            </p>
                        </div>
                        <footer class="card-footer">
                            <a href="/family_members/<%= member.id %>" class="card-footer-item">View</a>
                            <a href="/family_members/<%= member.id %>/edit" class="card-footer-item">Edit</a>
                            <a href="/family_members/<%= member.id %>/delete" class="card-footer-item">Delete</a>
                        </footer>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>