<div class="flex-index">
    <h1 class="h1-body"><a href="/family_member/<%= @plan.family_member_id %>/edit"><% @family_member.first_name %> <% @family_member.last_name %></a></h1>

    <div class="plan-show">
        <h2>Kind of Plan: <%= @plan.kind_of_plan %></h2>
        <h3>Company: <%= @plan.company %></h3>
        <h4>Account Number: <%= @plan.account_number %></h4>
        <h4>Contact Number: <%= @plan.contact_number %></h4>
        <h4>Beneficiary: <%= @plan.beneficiary %></h4>
        <h4>Notes: <%= @plan.notes %></h4>
        <a class="plan-button" href="/plans/<%= @plan.id %>/edit">Edit Plan</a>
        <a class="plan-button" href="/plans/<%= @plan.id %>/delete">Delete Plan</a>
    </div>
</div>